<html>
<body>
<head>
<title> 
Home Work Assignment
</title>
</head>
<table width="100%"style ="height:100%;" cellpadding = "10" cellspacing="0" border ="0">
<tr>
<!-- Header Section-->
<td colspan ="2" style = "height: 100px; color:white"; bgcolor="black" align= "center"	><h1>Website Name </h1></td>
</tr>
<!-- Menu Section-->
<tr>
<td width = "20%" height = "100%" valign="top" bgcolor = "#808B96">
<b> HTML </b><br>
<b> CSS </b> 
 </td>
 <!-- Content Section -->
 <td width = "80%" height = "80%" valign="top" bgcolor = "white" align = "justify">
 <h1> About HTML </h1>
 <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.Standing on the River Thames, London has been a major settlement for two millennia,its history going back to its founding by the Romans, who named it Londinium.
HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages. Along with CSS, and JavaScript, HTML is a cornerstone technology used to create web pages,[1] as well as to create user interfaces for mobile and web applications. Web browsers can read HTML files and render them into visible or audible web pages. HTML describes the structure of a website semantically and, before the advent of Cascading Style Sheets (CSS), included cues for the presentation or appearance of the document (web page), making it a markup language, rather than a programming language.</p>
<h2> Benefits of HTML </h2>
<p>Further development under the auspices of the IETF was stalled by competing interests. Since 1996, the HTML specifications have been maintained, with input from commercial software vendors, by the World Wide Web Consortium (W3C). However, in 2000, HTML also became an international standard (ISO/IEC 15445:2000). HTML 4.01 was published in late 1999, with further errata published through 2001. In 2004, development began on HTML5 in the Web Hypertext Application Technology Working Group (WHATWG), which became a joint deliverable with the W3C in 2008, and completed and standardized on 28 October 2014.
In July 2012, WHATWG and W3C decided on a degree of separation. W3C will continue the HTML5 specification work, focusing on a single definitive standard, which is considered as a "snapshot" by WHATWG. The WHATWG organization will continue its work with HTML5 as a "Living Standard". The concept of a living standard is that it is never complete and is always being updated and improved. New features can be added but functionality will not be removed.
 </p>
 <!-- Adding Image-->
 <%= link_to image_tag('html.png') %>
 </td>
 </tr>
<!-- Footer Section-->
 <tr>
 <td style = "color : white"; colspan = "2" height= "20" align = "center" bgcolor="black"> Copyrights </td>
 </tr>
</table>
</body>
</html>

<%= link_to'About', about_path %>
